--
-- PostgreSQL database dump
--

\restrict fSJ6Uiy09C58BgoyhTH7TAidzXwoklBOiGXQ2lUHQV58UFoxY5v0F2cRUWRCD5i

-- Dumped from database version 17.6
-- Dumped by pg_dump version 17.6

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: public; Type: SCHEMA; Schema: -; Owner: postgres
--

-- *not* creating schema, since initdb creates it


ALTER SCHEMA public OWNER TO postgres;

--
-- Name: SCHEMA public; Type: COMMENT; Schema: -; Owner: postgres
--

COMMENT ON SCHEMA public IS '';


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: absensi_app_absensi; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.absensi_app_absensi (
    id bigint NOT NULL,
    tanggal date NOT NULL,
    status character varying(10) NOT NULL,
    is_late boolean NOT NULL,
    is_early_departure boolean NOT NULL,
    keterangan text,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    pegawai_id bigint NOT NULL,
    tap_istirahat_keluar time without time zone,
    tap_istirahat_masuk time without time zone,
    tap_masuk time without time zone,
    tap_pulang time without time zone
);


ALTER TABLE public.absensi_app_absensi OWNER TO postgres;

--
-- Name: absensi_app_absensi_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.absensi_app_absensi ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.absensi_app_absensi_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: absensi_app_fingerprinttemplate; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.absensi_app_fingerprinttemplate (
    id bigint NOT NULL,
    uid integer NOT NULL,
    fid integer NOT NULL,
    size integer NOT NULL,
    valid integer NOT NULL,
    template bytea NOT NULL,
    created_at timestamp with time zone NOT NULL,
    pegawai_id bigint NOT NULL
);


ALTER TABLE public.absensi_app_fingerprinttemplate OWNER TO postgres;

--
-- Name: absensi_app_fingerprinttemplate_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.absensi_app_fingerprinttemplate ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.absensi_app_fingerprinttemplate_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: master_mesin; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.master_mesin (
    id bigint NOT NULL,
    nama character varying(100) NOT NULL,
    kode character varying(20) NOT NULL,
    ip_address inet NOT NULL,
    port integer NOT NULL,
    lokasi character varying(200) NOT NULL,
    keterangan text NOT NULL,
    is_active boolean NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    cabang_id bigint NOT NULL
);


ALTER TABLE public.master_mesin OWNER TO postgres;

--
-- Name: absensi_app_mastermesin_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.master_mesin ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.absensi_app_mastermesin_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: absensi_app_pegawai; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.absensi_app_pegawai (
    id bigint NOT NULL,
    userid character varying(20) NOT NULL,
    uid_mesin integer,
    nama_lengkap character varying(100) NOT NULL,
    tanggal_lahir date,
    nomor_hp character varying(15),
    alamat text,
    departemen_id bigint,
    jabatan_id bigint,
    tanggal_bergabung date,
    tanggal_nonaktif date,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    cabang_id bigint,
    is_shift_worker boolean NOT NULL,
    mesin_id bigint,
    email character varying(254),
    is_active boolean NOT NULL,
    mode_jam_kerja_id bigint,
    shift_per_hari jsonb NOT NULL,
    jam_kerja_assignment jsonb NOT NULL
);


ALTER TABLE public.absensi_app_pegawai OWNER TO postgres;

--
-- Name: absensi_app_pegawai_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.absensi_app_pegawai ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.absensi_app_pegawai_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: absensi_sesi; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.absensi_sesi (
    id bigint NOT NULL,
    tanggal_mulai date NOT NULL,
    tanggal_selesai date NOT NULL,
    tap_masuk_pertama time without time zone NOT NULL,
    tap_masuk_terakhir time without time zone,
    tap_pulang_pertama time without time zone,
    tap_pulang_terakhir time without time zone,
    jumlah_tap_masuk integer NOT NULL,
    jumlah_tap_pulang integer NOT NULL,
    status character varying(20) NOT NULL,
    is_cross_day boolean NOT NULL,
    durasi_kerja_menit integer,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    pegawai_id bigint NOT NULL
);


ALTER TABLE public.absensi_sesi OWNER TO postgres;

--
-- Name: absensi_sesi_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.absensi_sesi ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.absensi_sesi_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_group; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_group (
    id integer NOT NULL,
    name character varying(150) NOT NULL
);


ALTER TABLE public.auth_group OWNER TO postgres;

--
-- Name: auth_group_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_group ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_group_permissions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_group_permissions (
    id bigint NOT NULL,
    group_id integer NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.auth_group_permissions OWNER TO postgres;

--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_group_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_permission; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_permission (
    id integer NOT NULL,
    name character varying(255) NOT NULL,
    content_type_id integer NOT NULL,
    codename character varying(100) NOT NULL
);


ALTER TABLE public.auth_permission OWNER TO postgres;

--
-- Name: auth_permission_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_permission ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_permission_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_user; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_user (
    id integer NOT NULL,
    password character varying(128) NOT NULL,
    last_login timestamp with time zone,
    is_superuser boolean NOT NULL,
    username character varying(150) NOT NULL,
    first_name character varying(150) NOT NULL,
    last_name character varying(150) NOT NULL,
    email character varying(254) NOT NULL,
    is_staff boolean NOT NULL,
    is_active boolean NOT NULL,
    date_joined timestamp with time zone NOT NULL
);


ALTER TABLE public.auth_user OWNER TO postgres;

--
-- Name: auth_user_groups; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_user_groups (
    id bigint NOT NULL,
    user_id integer NOT NULL,
    group_id integer NOT NULL
);


ALTER TABLE public.auth_user_groups OWNER TO postgres;

--
-- Name: auth_user_groups_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_user_groups ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_user_groups_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_user_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_user ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_user_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_user_user_permissions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_user_user_permissions (
    id bigint NOT NULL,
    user_id integer NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.auth_user_user_permissions OWNER TO postgres;

--
-- Name: auth_user_user_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_user_user_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_user_user_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_admin_log; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_admin_log (
    id integer NOT NULL,
    action_time timestamp with time zone NOT NULL,
    object_id text,
    object_repr character varying(200) NOT NULL,
    action_flag smallint NOT NULL,
    change_message text NOT NULL,
    content_type_id integer,
    user_id integer NOT NULL,
    CONSTRAINT django_admin_log_action_flag_check CHECK ((action_flag >= 0))
);


ALTER TABLE public.django_admin_log OWNER TO postgres;

--
-- Name: django_admin_log_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.django_admin_log ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_admin_log_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_content_type; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_content_type (
    id integer NOT NULL,
    app_label character varying(100) NOT NULL,
    model character varying(100) NOT NULL
);


ALTER TABLE public.django_content_type OWNER TO postgres;

--
-- Name: django_content_type_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.django_content_type ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_content_type_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_migrations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_migrations (
    id bigint NOT NULL,
    app character varying(255) NOT NULL,
    name character varying(255) NOT NULL,
    applied timestamp with time zone NOT NULL
);


ALTER TABLE public.django_migrations OWNER TO postgres;

--
-- Name: django_migrations_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.django_migrations ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_migrations_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_session; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_session (
    session_key character varying(40) NOT NULL,
    session_data text NOT NULL,
    expire_date timestamp with time zone NOT NULL
);


ALTER TABLE public.django_session OWNER TO postgres;

--
-- Name: master_cabang; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.master_cabang (
    id bigint NOT NULL,
    nama character varying(100) NOT NULL,
    kode character varying(20) NOT NULL,
    alamat text NOT NULL,
    ip_mesin_fingerprint text NOT NULL,
    port_mesin integer NOT NULL,
    is_active boolean NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL
);


ALTER TABLE public.master_cabang OWNER TO postgres;

--
-- Name: master_cabang_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.master_cabang ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.master_cabang_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: master_departemen; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.master_departemen (
    id bigint NOT NULL,
    nama character varying(100) NOT NULL,
    id_departemen character varying(5),
    keterangan text NOT NULL,
    is_active boolean NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL
);


ALTER TABLE public.master_departemen OWNER TO postgres;

--
-- Name: master_departemen_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.master_departemen ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.master_departemen_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: master_jabatan; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.master_jabatan (
    id bigint NOT NULL,
    nama character varying(100) NOT NULL,
    kode character varying(20) NOT NULL,
    keterangan text NOT NULL,
    is_active boolean NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL
);


ALTER TABLE public.master_jabatan OWNER TO postgres;

--
-- Name: master_jabatan_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.master_jabatan ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.master_jabatan_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: master_mode_jam_kerja; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.master_mode_jam_kerja (
    id bigint NOT NULL,
    nama character varying(100) NOT NULL,
    kode character varying(20) NOT NULL,
    warna character varying(7) NOT NULL,
    priority integer NOT NULL,
    is_active boolean NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    is_default boolean NOT NULL,
    icon character varying(50) NOT NULL,
    cabang_id bigint
);


ALTER TABLE public.master_mode_jam_kerja OWNER TO postgres;

--
-- Name: master_mode_jam_kerja_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.master_mode_jam_kerja ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.master_mode_jam_kerja_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: mode_jam_kerja_jadwal; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.mode_jam_kerja_jadwal (
    id bigint NOT NULL,
    hari integer NOT NULL,
    jam_masuk time without time zone,
    jam_keluar time without time zone,
    jam_istirahat_keluar time without time zone,
    jam_istirahat_masuk time without time zone,
    toleransi_terlambat integer NOT NULL,
    toleransi_pulang_cepat integer NOT NULL,
    mode_id bigint NOT NULL,
    urutan integer NOT NULL,
    group_name character varying(100) NOT NULL
);


ALTER TABLE public.mode_jam_kerja_jadwal OWNER TO postgres;

--
-- Name: mode_jam_kerja_jadwal_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.mode_jam_kerja_jadwal ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.mode_jam_kerja_jadwal_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: mode_jam_kerja_periode; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.mode_jam_kerja_periode (
    id bigint NOT NULL,
    nama character varying(100) NOT NULL,
    tanggal_mulai date NOT NULL,
    tanggal_selesai date NOT NULL,
    tahun integer NOT NULL,
    catatan text NOT NULL,
    is_active boolean NOT NULL,
    created_at timestamp with time zone NOT NULL,
    mode_id bigint NOT NULL,
    is_periode_khusus boolean NOT NULL,
    warna_periode character varying(7) NOT NULL
);


ALTER TABLE public.mode_jam_kerja_periode OWNER TO postgres;

--
-- Name: mode_jam_kerja_periode_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.mode_jam_kerja_periode ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.mode_jam_kerja_periode_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: pegawai_mode_assignment; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.pegawai_mode_assignment (
    id bigint NOT NULL,
    jadwal_per_hari jsonb NOT NULL,
    is_active boolean NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    mode_id bigint NOT NULL,
    pegawai_id bigint NOT NULL
);


ALTER TABLE public.pegawai_mode_assignment OWNER TO postgres;

--
-- Name: pegawai_mode_assignment_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.pegawai_mode_assignment ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.pegawai_mode_assignment_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: tap_log; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.tap_log (
    id bigint NOT NULL,
    tanggal date NOT NULL,
    waktu_tap time without time zone NOT NULL,
    punch_type integer NOT NULL,
    is_processed boolean NOT NULL,
    created_at timestamp with time zone NOT NULL,
    mesin_id bigint,
    pegawai_id bigint NOT NULL
);


ALTER TABLE public.tap_log OWNER TO postgres;

--
-- Name: tap_log_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.tap_log ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.tap_log_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: tap_sesi_relation; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.tap_sesi_relation (
    id bigint NOT NULL,
    urutan_dalam_sesi integer NOT NULL,
    created_at timestamp with time zone NOT NULL,
    absensi_sesi_id bigint NOT NULL,
    tap_log_id bigint NOT NULL
);


ALTER TABLE public.tap_sesi_relation OWNER TO postgres;

--
-- Name: tap_sesi_relation_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.tap_sesi_relation ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.tap_sesi_relation_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Data for Name: absensi_app_absensi; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: absensi_app_fingerprinttemplate; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: absensi_app_pegawai; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: absensi_sesi; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: auth_group; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.auth_group (id, name) FROM stdin;
\.


--
-- Data for Name: auth_group_permissions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.auth_group_permissions (id, group_id, permission_id) FROM stdin;
\.


--
-- Data for Name: auth_permission; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: auth_user; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: auth_user_groups; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.auth_user_groups (id, user_id, group_id) FROM stdin;
\.


--
-- Data for Name: auth_user_user_permissions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.auth_user_user_permissions (id, user_id, permission_id) FROM stdin;
\.


--
-- Data for Name: django_admin_log; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.django_admin_log (id, action_time, object_id, object_repr, action_flag, change_message, content_type_id, user_id) FROM stdin;
\.


--
-- Data for Name: django_content_type; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: django_migrations; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: django_session; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: master_cabang; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.master_cabang (id, nama, kode, alamat, ip_mesin_fingerprint, port_mesin, is_active, created_at, updated_at) FROM stdin;
1	Tasikmalaya	TSK1	Jl hz	15.59.254.211	4370	t	2025-10-24 08:28:21.632066+07	2025-10-24 08:30:00.35429+07
3	Cihideung	CHD1	hasdw	15.61.254.201	4370	t	2025-11-24 08:13:18.831209+07	2025-11-24 08:13:18.831245+07
\.


--
-- Data for Name: master_departemen; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.master_departemen (id, nama, id_departemen, keterangan, is_active, created_at, updated_at) FROM stdin;
3	HR	001		t	2025-10-24 11:40:25.076214+07	2025-11-07 13:14:16.664537+07
1	IT	002		t	2025-10-23 15:25:27.0509+07	2025-11-07 13:14:24.85656+07
13	Accounting	003		t	2025-12-06 11:24:42.981698+07	2025-12-06 11:24:42.981712+07
\.


--
-- Data for Name: master_jabatan; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.master_jabatan (id, nama, kode, keterangan, is_active, created_at, updated_at) FROM stdin;
6	Stufff	22		t	2025-12-06 11:25:28.298444+07	2025-12-06 11:25:28.298457+07
4	Staff	SP1		t	2025-10-27 09:24:47.99092+07	2025-10-27 09:24:47.990944+07
\.


--
-- Data for Name: master_mesin; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.master_mesin (id, nama, kode, ip_address, port, lokasi, keterangan, is_active, created_at, updated_at, cabang_id) FROM stdin;
1	Master	1	15.59.254.211	4370	IT		t	2025-10-28 09:15:55.018029+07	2025-10-28 09:15:55.018048+07	1
2	Mezanin	mz1	15.59.254.203	4370	depan ruang it		t	2025-11-12 09:58:31.502204+07	2025-11-12 14:51:30.666262+07	1
3	IT	IT1	15.59.254.204	4370	Ruang IT		t	2025-11-12 15:35:57.403273+07	2025-11-12 15:35:57.403297+07	1
5	Karyawan	kw1	15.61.254.201	4370	klk		t	2025-11-24 08:13:51.845002+07	2025-11-24 08:13:51.845026+07	3
\.


--
-- Data for Name: master_mode_jam_kerja; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.master_mode_jam_kerja (id, nama, kode, warna, priority, is_active, created_at, updated_at, is_default, icon, cabang_id) FROM stdin;
20	ftfygu	F	#27426d	3	t	2025-12-13 11:15:45.946108+07	2025-12-15 09:56:06.462348+07	f	fas fa-clock	\N
3	normal	NORMAL	#3b82f6	1	t	2025-11-23 20:27:18.618071+07	2025-12-15 09:56:22.223604+07	t	fas fa-clock	\N
19	HR	H	#3b82f6	1	t	2025-12-12 08:35:08.817788+07	2025-12-15 09:56:43.248408+07	f	fas fa-clock	\N
17	libur nasional	LINAS	#135e37	2	t	2025-11-28 11:02:11.31215+07	2025-12-15 14:56:20.491215+07	f	fas fa-clock	\N
\.


--
-- Data for Name: mode_jam_kerja_jadwal; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: mode_jam_kerja_periode; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.mode_jam_kerja_periode (id, nama, tanggal_mulai, tanggal_selesai, tahun, catatan, is_active, created_at, mode_id, is_periode_khusus, warna_periode) FROM stdin;
9	sertyiujk	2025-12-09	2025-12-10	2025		t	2025-12-08 15:21:32.688607+07	17	f	
7	17 agustus	2026-09-17	2026-09-17	2026		t	2025-12-03 09:27:47.766051+07	17	f	
11	cfgvhkjl;	2025-12-13	2025-12-13	2025		t	2025-12-13 12:35:15.103179+07	17	f	
12	vgfuyiuhijlk	2025-12-15	2025-12-15	2025		t	2025-12-15 14:35:51.536143+07	17	f	
\.


--
-- Data for Name: pegawai_mode_assignment; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: tap_log; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: tap_sesi_relation; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: absensi_app_absensi_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.absensi_app_absensi_id_seq', 373, true);


--
-- Name: absensi_app_fingerprinttemplate_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.absensi_app_fingerprinttemplate_id_seq', 55, true);


--
-- Name: absensi_app_mastermesin_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.absensi_app_mastermesin_id_seq', 6, true);


--
-- Name: absensi_app_pegawai_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.absensi_app_pegawai_id_seq', 28, true);


--
-- Name: absensi_sesi_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.absensi_sesi_id_seq', 400, true);


--
-- Name: auth_group_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_group_id_seq', 1, false);


--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_group_permissions_id_seq', 1, false);


--
-- Name: auth_permission_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_permission_id_seq', 140, true);


--
-- Name: auth_user_groups_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_user_groups_id_seq', 1, false);


--
-- Name: auth_user_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_user_id_seq', 5, true);


--
-- Name: auth_user_user_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_user_user_permissions_id_seq', 1, false);


--
-- Name: django_admin_log_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.django_admin_log_id_seq', 1, false);


--
-- Name: django_content_type_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.django_content_type_id_seq', 35, true);


--
-- Name: django_migrations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.django_migrations_id_seq', 75, true);


--
-- Name: master_cabang_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.master_cabang_id_seq', 4, true);


--
-- Name: master_departemen_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.master_departemen_id_seq', 13, true);


--
-- Name: master_jabatan_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.master_jabatan_id_seq', 6, true);


--
-- Name: master_mode_jam_kerja_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.master_mode_jam_kerja_id_seq', 20, true);


--
-- Name: mode_jam_kerja_jadwal_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.mode_jam_kerja_jadwal_id_seq', 387, true);


--
-- Name: mode_jam_kerja_periode_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.mode_jam_kerja_periode_id_seq', 12, true);


--
-- Name: pegawai_mode_assignment_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.pegawai_mode_assignment_id_seq', 129, true);


--
-- Name: tap_log_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.tap_log_id_seq', 663, true);


--
-- Name: tap_sesi_relation_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.tap_sesi_relation_id_seq', 886, true);


--
-- Name: absensi_app_absensi absensi_app_absensi_pegawai_id_tanggal_930f64fc_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.absensi_app_absensi
    ADD CONSTRAINT absensi_app_absensi_pegawai_id_tanggal_930f64fc_uniq UNIQUE (pegawai_id, tanggal);


--
-- Name: absensi_app_absensi absensi_app_absensi_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.absensi_app_absensi
    ADD CONSTRAINT absensi_app_absensi_pkey PRIMARY KEY (id);


--
-- Name: absensi_app_fingerprinttemplate absensi_app_fingerprinttemplate_pegawai_id_fid_5046f1a3_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.absensi_app_fingerprinttemplate
    ADD CONSTRAINT absensi_app_fingerprinttemplate_pegawai_id_fid_5046f1a3_uniq UNIQUE (pegawai_id, fid);


--
-- Name: absensi_app_fingerprinttemplate absensi_app_fingerprinttemplate_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.absensi_app_fingerprinttemplate
    ADD CONSTRAINT absensi_app_fingerprinttemplate_pkey PRIMARY KEY (id);


--
-- Name: master_mesin absensi_app_mastermesin_kode_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.master_mesin
    ADD CONSTRAINT absensi_app_mastermesin_kode_key UNIQUE (kode);


--
-- Name: master_mesin absensi_app_mastermesin_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.master_mesin
    ADD CONSTRAINT absensi_app_mastermesin_pkey PRIMARY KEY (id);


--
-- Name: absensi_app_pegawai absensi_app_pegawai_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.absensi_app_pegawai
    ADD CONSTRAINT absensi_app_pegawai_pkey PRIMARY KEY (id);


--
-- Name: absensi_app_pegawai absensi_app_pegawai_userid_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.absensi_app_pegawai
    ADD CONSTRAINT absensi_app_pegawai_userid_key UNIQUE (userid);


--
-- Name: absensi_sesi absensi_sesi_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.absensi_sesi
    ADD CONSTRAINT absensi_sesi_pkey PRIMARY KEY (id);


--
-- Name: auth_group auth_group_name_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_name_key UNIQUE (name);


--
-- Name: auth_group_permissions auth_group_permissions_group_id_permission_id_0cd325b0_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_permission_id_0cd325b0_uniq UNIQUE (group_id, permission_id);


--
-- Name: auth_group_permissions auth_group_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_pkey PRIMARY KEY (id);


--
-- Name: auth_group auth_group_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_pkey PRIMARY KEY (id);


--
-- Name: auth_permission auth_permission_content_type_id_codename_01ab375a_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_codename_01ab375a_uniq UNIQUE (content_type_id, codename);


--
-- Name: auth_permission auth_permission_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_pkey PRIMARY KEY (id);


--
-- Name: auth_user_groups auth_user_groups_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_pkey PRIMARY KEY (id);


--
-- Name: auth_user_groups auth_user_groups_user_id_group_id_94350c0c_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_user_id_group_id_94350c0c_uniq UNIQUE (user_id, group_id);


--
-- Name: auth_user auth_user_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user
    ADD CONSTRAINT auth_user_pkey PRIMARY KEY (id);


--
-- Name: auth_user_user_permissions auth_user_user_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permissions_pkey PRIMARY KEY (id);


--
-- Name: auth_user_user_permissions auth_user_user_permissions_user_id_permission_id_14a6b632_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permissions_user_id_permission_id_14a6b632_uniq UNIQUE (user_id, permission_id);


--
-- Name: auth_user auth_user_username_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user
    ADD CONSTRAINT auth_user_username_key UNIQUE (username);


--
-- Name: django_admin_log django_admin_log_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_pkey PRIMARY KEY (id);


--
-- Name: django_content_type django_content_type_app_label_model_76bd3d3b_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_app_label_model_76bd3d3b_uniq UNIQUE (app_label, model);


--
-- Name: django_content_type django_content_type_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_pkey PRIMARY KEY (id);


--
-- Name: django_migrations django_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_migrations
    ADD CONSTRAINT django_migrations_pkey PRIMARY KEY (id);


--
-- Name: django_session django_session_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_session
    ADD CONSTRAINT django_session_pkey PRIMARY KEY (session_key);


--
-- Name: master_cabang master_cabang_kode_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.master_cabang
    ADD CONSTRAINT master_cabang_kode_key UNIQUE (kode);


--
-- Name: master_cabang master_cabang_nama_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.master_cabang
    ADD CONSTRAINT master_cabang_nama_key UNIQUE (nama);


--
-- Name: master_cabang master_cabang_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.master_cabang
    ADD CONSTRAINT master_cabang_pkey PRIMARY KEY (id);


--
-- Name: master_departemen master_departemen_kode_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.master_departemen
    ADD CONSTRAINT master_departemen_kode_key UNIQUE (id_departemen);


--
-- Name: master_departemen master_departemen_nama_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.master_departemen
    ADD CONSTRAINT master_departemen_nama_key UNIQUE (nama);


--
-- Name: master_departemen master_departemen_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.master_departemen
    ADD CONSTRAINT master_departemen_pkey PRIMARY KEY (id);


--
-- Name: master_jabatan master_jabatan_kode_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.master_jabatan
    ADD CONSTRAINT master_jabatan_kode_key UNIQUE (kode);


--
-- Name: master_jabatan master_jabatan_nama_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.master_jabatan
    ADD CONSTRAINT master_jabatan_nama_key UNIQUE (nama);


--
-- Name: master_jabatan master_jabatan_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.master_jabatan
    ADD CONSTRAINT master_jabatan_pkey PRIMARY KEY (id);


--
-- Name: master_mesin master_mesin_cabang_id_nama_bb618a88_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.master_mesin
    ADD CONSTRAINT master_mesin_cabang_id_nama_bb618a88_uniq UNIQUE (cabang_id, nama);


--
-- Name: master_mode_jam_kerja master_mode_jam_kerja_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.master_mode_jam_kerja
    ADD CONSTRAINT master_mode_jam_kerja_pkey PRIMARY KEY (id);


--
-- Name: mode_jam_kerja_jadwal mode_jam_kerja_jadwal_mode_id_group_name_hari__3a07c4bf_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.mode_jam_kerja_jadwal
    ADD CONSTRAINT mode_jam_kerja_jadwal_mode_id_group_name_hari__3a07c4bf_uniq UNIQUE (mode_id, group_name, hari, urutan);


--
-- Name: mode_jam_kerja_jadwal mode_jam_kerja_jadwal_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.mode_jam_kerja_jadwal
    ADD CONSTRAINT mode_jam_kerja_jadwal_pkey PRIMARY KEY (id);


--
-- Name: mode_jam_kerja_periode mode_jam_kerja_periode_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.mode_jam_kerja_periode
    ADD CONSTRAINT mode_jam_kerja_periode_pkey PRIMARY KEY (id);


--
-- Name: pegawai_mode_assignment pegawai_mode_assignment_pegawai_id_mode_id_8a2d9bc2_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pegawai_mode_assignment
    ADD CONSTRAINT pegawai_mode_assignment_pegawai_id_mode_id_8a2d9bc2_uniq UNIQUE (pegawai_id, mode_id);


--
-- Name: pegawai_mode_assignment pegawai_mode_assignment_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pegawai_mode_assignment
    ADD CONSTRAINT pegawai_mode_assignment_pkey PRIMARY KEY (id);


--
-- Name: tap_log tap_log_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tap_log
    ADD CONSTRAINT tap_log_pkey PRIMARY KEY (id);


--
-- Name: tap_sesi_relation tap_sesi_relation_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tap_sesi_relation
    ADD CONSTRAINT tap_sesi_relation_pkey PRIMARY KEY (id);


--
-- Name: tap_sesi_relation tap_sesi_relation_tap_log_id_absensi_sesi_id_c804ac2f_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tap_sesi_relation
    ADD CONSTRAINT tap_sesi_relation_tap_log_id_absensi_sesi_id_c804ac2f_uniq UNIQUE (tap_log_id, absensi_sesi_id);


--
-- Name: absensi_app_absensi_pegawai_id_86fcc840; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX absensi_app_absensi_pegawai_id_86fcc840 ON public.absensi_app_absensi USING btree (pegawai_id);


--
-- Name: absensi_app_cabang__70e95f_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX absensi_app_cabang__70e95f_idx ON public.absensi_app_pegawai USING btree (cabang_id, userid);


--
-- Name: absensi_app_departe_fa23a9_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX absensi_app_departe_fa23a9_idx ON public.absensi_app_pegawai USING btree (departemen_id, is_shift_worker);


--
-- Name: absensi_app_fingerprinttemplate_pegawai_id_ab9edae5; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX absensi_app_fingerprinttemplate_pegawai_id_ab9edae5 ON public.absensi_app_fingerprinttemplate USING btree (pegawai_id);


--
-- Name: absensi_app_mastermesin_cabang_id_9ff328bc; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX absensi_app_mastermesin_cabang_id_9ff328bc ON public.master_mesin USING btree (cabang_id);


--
-- Name: absensi_app_mastermesin_kode_02603961_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX absensi_app_mastermesin_kode_02603961_like ON public.master_mesin USING btree (kode varchar_pattern_ops);


--
-- Name: absensi_app_pegawai_80db7c_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX absensi_app_pegawai_80db7c_idx ON public.absensi_app_absensi USING btree (pegawai_id, tanggal);


--
-- Name: absensi_app_pegawai_cabang_id_4fef6c9c; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX absensi_app_pegawai_cabang_id_4fef6c9c ON public.absensi_app_pegawai USING btree (cabang_id);


--
-- Name: absensi_app_pegawai_departemen_id_56b34b34; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX absensi_app_pegawai_departemen_id_56b34b34 ON public.absensi_app_pegawai USING btree (departemen_id);


--
-- Name: absensi_app_pegawai_jabatan_id_e26c18ff; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX absensi_app_pegawai_jabatan_id_e26c18ff ON public.absensi_app_pegawai USING btree (jabatan_id);


--
-- Name: absensi_app_pegawai_mesin_id_16b5b3f4; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX absensi_app_pegawai_mesin_id_16b5b3f4 ON public.absensi_app_pegawai USING btree (mesin_id);


--
-- Name: absensi_app_pegawai_mode_jam_kerja_id_67af537e; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX absensi_app_pegawai_mode_jam_kerja_id_67af537e ON public.absensi_app_pegawai USING btree (mode_jam_kerja_id);


--
-- Name: absensi_app_pegawai_nama_lengkap_0acd1945; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX absensi_app_pegawai_nama_lengkap_0acd1945 ON public.absensi_app_pegawai USING btree (nama_lengkap);


--
-- Name: absensi_app_pegawai_nama_lengkap_0acd1945_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX absensi_app_pegawai_nama_lengkap_0acd1945_like ON public.absensi_app_pegawai USING btree (nama_lengkap varchar_pattern_ops);


--
-- Name: absensi_app_pegawai_uid_mesin_eb3218d2; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX absensi_app_pegawai_uid_mesin_eb3218d2 ON public.absensi_app_pegawai USING btree (uid_mesin);


--
-- Name: absensi_app_pegawai_userid_3ac763ed_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX absensi_app_pegawai_userid_3ac763ed_like ON public.absensi_app_pegawai USING btree (userid varchar_pattern_ops);


--
-- Name: absensi_app_tanggal_2007e9_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX absensi_app_tanggal_2007e9_idx ON public.absensi_app_absensi USING btree (tanggal, status);


--
-- Name: absensi_app_userid_a694eb_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX absensi_app_userid_a694eb_idx ON public.absensi_app_pegawai USING btree (userid);


--
-- Name: absensi_ses_pegawai_b5d01e_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX absensi_ses_pegawai_b5d01e_idx ON public.absensi_sesi USING btree (pegawai_id, tanggal_mulai);


--
-- Name: absensi_ses_tanggal_7a6fc7_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX absensi_ses_tanggal_7a6fc7_idx ON public.absensi_sesi USING btree (tanggal_mulai, status);


--
-- Name: absensi_sesi_pegawai_id_56a88cf2; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX absensi_sesi_pegawai_id_56a88cf2 ON public.absensi_sesi USING btree (pegawai_id);


--
-- Name: absensi_sesi_tanggal_mulai_4441fd09; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX absensi_sesi_tanggal_mulai_4441fd09 ON public.absensi_sesi USING btree (tanggal_mulai);


--
-- Name: absensi_sesi_tanggal_selesai_6e2f3215; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX absensi_sesi_tanggal_selesai_6e2f3215 ON public.absensi_sesi USING btree (tanggal_selesai);


--
-- Name: auth_group_name_a6ea08ec_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_group_name_a6ea08ec_like ON public.auth_group USING btree (name varchar_pattern_ops);


--
-- Name: auth_group_permissions_group_id_b120cbf9; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_group_permissions_group_id_b120cbf9 ON public.auth_group_permissions USING btree (group_id);


--
-- Name: auth_group_permissions_permission_id_84c5c92e; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_group_permissions_permission_id_84c5c92e ON public.auth_group_permissions USING btree (permission_id);


--
-- Name: auth_permission_content_type_id_2f476e4b; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_permission_content_type_id_2f476e4b ON public.auth_permission USING btree (content_type_id);


--
-- Name: auth_user_groups_group_id_97559544; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_user_groups_group_id_97559544 ON public.auth_user_groups USING btree (group_id);


--
-- Name: auth_user_groups_user_id_6a12ed8b; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_user_groups_user_id_6a12ed8b ON public.auth_user_groups USING btree (user_id);


--
-- Name: auth_user_user_permissions_permission_id_1fbb5f2c; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_user_user_permissions_permission_id_1fbb5f2c ON public.auth_user_user_permissions USING btree (permission_id);


--
-- Name: auth_user_user_permissions_user_id_a95ead1b; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_user_user_permissions_user_id_a95ead1b ON public.auth_user_user_permissions USING btree (user_id);


--
-- Name: auth_user_username_6821ab7c_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_user_username_6821ab7c_like ON public.auth_user USING btree (username varchar_pattern_ops);


--
-- Name: django_admin_log_content_type_id_c4bce8eb; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_admin_log_content_type_id_c4bce8eb ON public.django_admin_log USING btree (content_type_id);


--
-- Name: django_admin_log_user_id_c564eba6; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_admin_log_user_id_c564eba6 ON public.django_admin_log USING btree (user_id);


--
-- Name: django_session_expire_date_a5c62663; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_session_expire_date_a5c62663 ON public.django_session USING btree (expire_date);


--
-- Name: django_session_session_key_c0390e0f_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_session_session_key_c0390e0f_like ON public.django_session USING btree (session_key varchar_pattern_ops);


--
-- Name: master_cabang_kode_f24ab2f5_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX master_cabang_kode_f24ab2f5_like ON public.master_cabang USING btree (kode varchar_pattern_ops);


--
-- Name: master_cabang_nama_d2af0248_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX master_cabang_nama_d2af0248_like ON public.master_cabang USING btree (nama varchar_pattern_ops);


--
-- Name: master_depa_id_depa_9826af_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX master_depa_id_depa_9826af_idx ON public.master_departemen USING btree (id_departemen);


--
-- Name: master_departemen_kode_2fdd0017_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX master_departemen_kode_2fdd0017_like ON public.master_departemen USING btree (id_departemen varchar_pattern_ops);


--
-- Name: master_departemen_nama_ba2cbc42_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX master_departemen_nama_ba2cbc42_like ON public.master_departemen USING btree (nama varchar_pattern_ops);


--
-- Name: master_jabatan_kode_3ec7f59e_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX master_jabatan_kode_3ec7f59e_like ON public.master_jabatan USING btree (kode varchar_pattern_ops);


--
-- Name: master_jabatan_nama_9a779c79_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX master_jabatan_nama_9a779c79_like ON public.master_jabatan USING btree (nama varchar_pattern_ops);


--
-- Name: master_mode_cabang__a4d41f_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX master_mode_cabang__a4d41f_idx ON public.master_mode_jam_kerja USING btree (cabang_id, is_active);


--
-- Name: master_mode_is_defa_715548_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX master_mode_is_defa_715548_idx ON public.master_mode_jam_kerja USING btree (is_default, is_active);


--
-- Name: master_mode_jam_kerja_cabang_id_46f53a8b; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX master_mode_jam_kerja_cabang_id_46f53a8b ON public.master_mode_jam_kerja USING btree (cabang_id);


--
-- Name: master_mode_priorit_43ea00_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX master_mode_priorit_43ea00_idx ON public.master_mode_jam_kerja USING btree (priority);


--
-- Name: mode_jam_ke_is_acti_0d18d3_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX mode_jam_ke_is_acti_0d18d3_idx ON public.mode_jam_kerja_periode USING btree (is_active);


--
-- Name: mode_jam_ke_mode_id_636a4f_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX mode_jam_ke_mode_id_636a4f_idx ON public.mode_jam_kerja_jadwal USING btree (mode_id, hari);


--
-- Name: mode_jam_ke_mode_id_ad8dd8_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX mode_jam_ke_mode_id_ad8dd8_idx ON public.mode_jam_kerja_jadwal USING btree (mode_id, group_name, hari);


--
-- Name: mode_jam_ke_tanggal_0e4925_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX mode_jam_ke_tanggal_0e4925_idx ON public.mode_jam_kerja_periode USING btree (tanggal_mulai, tanggal_selesai);


--
-- Name: mode_jam_kerja_jadwal_mode_id_43457bd8; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX mode_jam_kerja_jadwal_mode_id_43457bd8 ON public.mode_jam_kerja_jadwal USING btree (mode_id);


--
-- Name: mode_jam_kerja_periode_mode_id_20a470ea; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX mode_jam_kerja_periode_mode_id_20a470ea ON public.mode_jam_kerja_periode USING btree (mode_id);


--
-- Name: pegawai_mod_is_acti_7cae26_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX pegawai_mod_is_acti_7cae26_idx ON public.pegawai_mode_assignment USING btree (is_active);


--
-- Name: pegawai_mod_pegawai_6a9d32_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX pegawai_mod_pegawai_6a9d32_idx ON public.pegawai_mode_assignment USING btree (pegawai_id, mode_id);


--
-- Name: pegawai_mode_assignment_mode_id_d3dcd3dc; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX pegawai_mode_assignment_mode_id_d3dcd3dc ON public.pegawai_mode_assignment USING btree (mode_id);


--
-- Name: pegawai_mode_assignment_pegawai_id_4447d8ff; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX pegawai_mode_assignment_pegawai_id_4447d8ff ON public.pegawai_mode_assignment USING btree (pegawai_id);


--
-- Name: tap_log_is_processed_e59ba46f; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX tap_log_is_processed_e59ba46f ON public.tap_log USING btree (is_processed);


--
-- Name: tap_log_mesin_id_c8edef58; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX tap_log_mesin_id_c8edef58 ON public.tap_log USING btree (mesin_id);


--
-- Name: tap_log_pegawai_6f08b7_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX tap_log_pegawai_6f08b7_idx ON public.tap_log USING btree (pegawai_id, tanggal, is_processed);


--
-- Name: tap_log_pegawai_d64353_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX tap_log_pegawai_d64353_idx ON public.tap_log USING btree (pegawai_id, tanggal);


--
-- Name: tap_log_pegawai_id_9edc9f1c; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX tap_log_pegawai_id_9edc9f1c ON public.tap_log USING btree (pegawai_id);


--
-- Name: tap_log_tanggal_979f0f08; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX tap_log_tanggal_979f0f08 ON public.tap_log USING btree (tanggal);


--
-- Name: tap_log_tanggal_ea9074_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX tap_log_tanggal_ea9074_idx ON public.tap_log USING btree (tanggal, is_processed);


--
-- Name: tap_sesi_relation_absensi_sesi_id_07490c55; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX tap_sesi_relation_absensi_sesi_id_07490c55 ON public.tap_sesi_relation USING btree (absensi_sesi_id);


--
-- Name: tap_sesi_relation_tap_log_id_2ce24c6f; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX tap_sesi_relation_tap_log_id_2ce24c6f ON public.tap_sesi_relation USING btree (tap_log_id);


--
-- Name: unique_mode_per_cabang; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX unique_mode_per_cabang ON public.master_mode_jam_kerja USING btree (nama, cabang_id) WHERE is_active;


--
-- Name: absensi_app_absensi absensi_app_absensi_pegawai_id_86fcc840_fk_absensi_a; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.absensi_app_absensi
    ADD CONSTRAINT absensi_app_absensi_pegawai_id_86fcc840_fk_absensi_a FOREIGN KEY (pegawai_id) REFERENCES public.absensi_app_pegawai(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: absensi_app_fingerprinttemplate absensi_app_fingerpr_pegawai_id_ab9edae5_fk_absensi_a; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.absensi_app_fingerprinttemplate
    ADD CONSTRAINT absensi_app_fingerpr_pegawai_id_ab9edae5_fk_absensi_a FOREIGN KEY (pegawai_id) REFERENCES public.absensi_app_pegawai(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: master_mesin absensi_app_mastermesin_cabang_id_9ff328bc_fk_master_cabang_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.master_mesin
    ADD CONSTRAINT absensi_app_mastermesin_cabang_id_9ff328bc_fk_master_cabang_id FOREIGN KEY (cabang_id) REFERENCES public.master_cabang(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: absensi_app_pegawai absensi_app_pegawai_cabang_id_4fef6c9c_fk_master_cabang_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.absensi_app_pegawai
    ADD CONSTRAINT absensi_app_pegawai_cabang_id_4fef6c9c_fk_master_cabang_id FOREIGN KEY (cabang_id) REFERENCES public.master_cabang(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: absensi_app_pegawai absensi_app_pegawai_departemen_id_56b34b34_fk_master_de; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.absensi_app_pegawai
    ADD CONSTRAINT absensi_app_pegawai_departemen_id_56b34b34_fk_master_de FOREIGN KEY (departemen_id) REFERENCES public.master_departemen(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: absensi_app_pegawai absensi_app_pegawai_jabatan_id_e26c18ff_fk_master_jabatan_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.absensi_app_pegawai
    ADD CONSTRAINT absensi_app_pegawai_jabatan_id_e26c18ff_fk_master_jabatan_id FOREIGN KEY (jabatan_id) REFERENCES public.master_jabatan(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: absensi_app_pegawai absensi_app_pegawai_mesin_id_16b5b3f4_fk_master_mesin_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.absensi_app_pegawai
    ADD CONSTRAINT absensi_app_pegawai_mesin_id_16b5b3f4_fk_master_mesin_id FOREIGN KEY (mesin_id) REFERENCES public.master_mesin(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: absensi_app_pegawai absensi_app_pegawai_mode_jam_kerja_id_67af537e_fk_master_mo; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.absensi_app_pegawai
    ADD CONSTRAINT absensi_app_pegawai_mode_jam_kerja_id_67af537e_fk_master_mo FOREIGN KEY (mode_jam_kerja_id) REFERENCES public.master_mode_jam_kerja(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: absensi_sesi absensi_sesi_pegawai_id_56a88cf2_fk_absensi_app_pegawai_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.absensi_sesi
    ADD CONSTRAINT absensi_sesi_pegawai_id_56a88cf2_fk_absensi_app_pegawai_id FOREIGN KEY (pegawai_id) REFERENCES public.absensi_app_pegawai(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_group_permissions auth_group_permissio_permission_id_84c5c92e_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissio_permission_id_84c5c92e_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_group_permissions auth_group_permissions_group_id_b120cbf9_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_b120cbf9_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_permission auth_permission_content_type_id_2f476e4b_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_2f476e4b_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_groups auth_user_groups_group_id_97559544_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_group_id_97559544_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_groups auth_user_groups_user_id_6a12ed8b_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_user_id_6a12ed8b_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_user_permissions auth_user_user_permi_permission_id_1fbb5f2c_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permi_permission_id_1fbb5f2c_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_user_permissions auth_user_user_permissions_user_id_a95ead1b_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permissions_user_id_a95ead1b_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_content_type_id_c4bce8eb_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_content_type_id_c4bce8eb_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_user_id_c564eba6_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_user_id_c564eba6_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: master_mode_jam_kerja master_mode_jam_kerja_cabang_id_46f53a8b_fk_master_cabang_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.master_mode_jam_kerja
    ADD CONSTRAINT master_mode_jam_kerja_cabang_id_46f53a8b_fk_master_cabang_id FOREIGN KEY (cabang_id) REFERENCES public.master_cabang(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: mode_jam_kerja_jadwal mode_jam_kerja_jadwa_mode_id_43457bd8_fk_master_mo; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.mode_jam_kerja_jadwal
    ADD CONSTRAINT mode_jam_kerja_jadwa_mode_id_43457bd8_fk_master_mo FOREIGN KEY (mode_id) REFERENCES public.master_mode_jam_kerja(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: mode_jam_kerja_periode mode_jam_kerja_perio_mode_id_20a470ea_fk_master_mo; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.mode_jam_kerja_periode
    ADD CONSTRAINT mode_jam_kerja_perio_mode_id_20a470ea_fk_master_mo FOREIGN KEY (mode_id) REFERENCES public.master_mode_jam_kerja(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: pegawai_mode_assignment pegawai_mode_assignm_mode_id_d3dcd3dc_fk_master_mo; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pegawai_mode_assignment
    ADD CONSTRAINT pegawai_mode_assignm_mode_id_d3dcd3dc_fk_master_mo FOREIGN KEY (mode_id) REFERENCES public.master_mode_jam_kerja(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: pegawai_mode_assignment pegawai_mode_assignm_pegawai_id_4447d8ff_fk_absensi_a; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pegawai_mode_assignment
    ADD CONSTRAINT pegawai_mode_assignm_pegawai_id_4447d8ff_fk_absensi_a FOREIGN KEY (pegawai_id) REFERENCES public.absensi_app_pegawai(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: tap_log tap_log_mesin_id_c8edef58_fk_master_mesin_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tap_log
    ADD CONSTRAINT tap_log_mesin_id_c8edef58_fk_master_mesin_id FOREIGN KEY (mesin_id) REFERENCES public.master_mesin(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: tap_log tap_log_pegawai_id_9edc9f1c_fk_absensi_app_pegawai_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tap_log
    ADD CONSTRAINT tap_log_pegawai_id_9edc9f1c_fk_absensi_app_pegawai_id FOREIGN KEY (pegawai_id) REFERENCES public.absensi_app_pegawai(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: tap_sesi_relation tap_sesi_relation_absensi_sesi_id_07490c55_fk_absensi_sesi_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tap_sesi_relation
    ADD CONSTRAINT tap_sesi_relation_absensi_sesi_id_07490c55_fk_absensi_sesi_id FOREIGN KEY (absensi_sesi_id) REFERENCES public.absensi_sesi(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: tap_sesi_relation tap_sesi_relation_tap_log_id_2ce24c6f_fk_tap_log_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tap_sesi_relation
    ADD CONSTRAINT tap_sesi_relation_tap_log_id_2ce24c6f_fk_tap_log_id FOREIGN KEY (tap_log_id) REFERENCES public.tap_log(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: SCHEMA public; Type: ACL; Schema: -; Owner: postgres
--

REVOKE USAGE ON SCHEMA public FROM PUBLIC;
GRANT ALL ON SCHEMA public TO PUBLIC;


--
-- PostgreSQL database dump complete
--

\unrestrict fSJ6Uiy09C58BgoyhTH7TAidzXwoklBOiGXQ2lUHQV58UFoxY5v0F2cRUWRCD5i

